[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynecone = "*"
pendulum = "*"
kafka-python = "*"
requests = "*"
flask = "*"
gunicorn = "*"
uvicorn = {extras = ["standard"], version = "*"}
grequests = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
